<!-- recomendado.html -->
{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block body %}
    <br />
    <a href="{{ url_for('index') }}">Regresar al index</a>
    <h1>Recomendaciones para {{ data.client_id }}</h1>
    {% if data.recommendations %}
        <ul>
            {% for product in data.recommendations %}
                <li>{{ product }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>El ID {{ data.client_id }} no existe en nuestra base de datos.</p>
    {% endif %}
{% endblock %}
